In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
batters = pd.read_csv('Hall of Famers Rookie Years.csv')

In [3]:
batters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2379 entries, 0 to 2378
Data columns (total 6 columns):
Debut                     2379 non-null object
Player                    2379 non-null object
Year                      2379 non-null int64
Rookie Batting Average    2379 non-null float64
At Bats                   2379 non-null int64
Career Batting Average    2379 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 111.6+ KB

In [4]:
batters['Debut'] = pd.to_datetime(batters['Debut'], format = '%Y-%m-%d')
#batters['Debut'].astype('datetime')

In [5]:
batters['Debut'] = batters['Debut'].dt.year
batters.head()

,Debut,Player,Year,Rookie Batting Average,At Bats,Career Batting Average
0,1871,Al Spalding,1873,0.3292,322,0.3131
1,1871,Deacon White,1873,0.3903,310,0.3119
2,1871,George Wright,1873,0.3877,325,0.3016
3,1872,Jim O'Rourke,1874,0.3142,331,0.3108
4,1871,Al Spalding,1874,0.3287,362,0.3131

In [6]:
batters2 = batters[(batters['Debut'] == batters['Year'])]

In [7]:
batters2.head()

,Debut,Player,Year,Rookie Batting Average,At Bats,Career Batting Average
22,1880,Roger Connor,1880,0.3324,340,0.3165
35,1882,Charlie Comiskey,1882,0.2432,329,0.2640
40,1882,Bid McPhee,1882,0.2283,311,0.2714
90,1886,Wilbert Robinson,1886,0.2018,342,0.2735
139,1890,Jesse Burkett,1890,0.3092,401,0.3384

In [8]:
len(batters2)

56

In [9]:
batters2

,Debut,Player,Year,Rookie Batting Average,At Bats,Career Batting Average
22,1880,Roger Connor,1880,0.3324,340,0.3165
35,1882,Charlie Comiskey,1882,0.2432,329,0.2640
40,1882,Bid McPhee,1882,0.2283,311,0.2714
90,1886,Wilbert Robinson,1886,0.2018,342,0.2735
139,1890,Jesse Burkett,1890,0.3092,401,0.3384
142,1890,George Davis,1890,0.2643,526,0.2945
167,1891,Hughie Jennings,1891,0.2917,360,0.3114
214,1894,Fred Clarke,1894,0.2677,310,0.3119
233,1895,Jimmy Collins,1895,0.2788,373,0.2942
284,1898,Elmer Flick,1898,0.3024,453,0.3130
352,1902,Joe Tinker,1902,0.2611,494,0.2622
379,1904,Miller Huggins,1904,0.2627,491,0.2652
537,1915,Dave Bancroft,1915,0.2540,563,0.2790
696,1923,Heinie Manush,1923,0.3344,308,0.3298
729,1924,Al Simmons,1924,0.3081,594,0.3342
741,1925,Mickey Cochrane,1925,0.3310,420,0.3196
786,1926,Tony Lazzeri,1926,0.2750,589,0.2922
798,1926,Paul Waner,1926,0.3358,536,0.3332
831,1927,Lloyd Waner,1927,0.3545,629,0.3164
867,1929,Earl Averill,1929,0.3317,597,0.3178
1002,1932,Arky Vaughan,1932,0.3179,497,0.3176
1112,1936,Joe DiMaggio,1936,0.3234,637,0.3246
1129,1936,Johnny Mize,1936,0.3285,414,0.3121
1170,1938,Joe Gordon,1938,0.2555,458,0.2681
1179,1938,Enos Slaughter,1938,0.2759,395,0.2999
1206,1939,Ted Williams,1939,0.3274,565,0.3444
1224,1940,Pee Wee Reese,1940,0.2724,312,0.2693
1245,1941,Phil Rizzuto,1941,0.3068,515,0.2730
1289,1945,Red Schoendienst,1945,0.2779,565,0.2888
1297,1946,Ralph Kiner,1946,0.2470,502,0.2788
1317,1947,Jackie Robinson,1947,0.2966,590,0.3113
1322,1948,Richie Ashburn,1948,0.3326,463,0.3077
1387,1951,Mickey Mantle,1951,0.2669,341,0.2981
1388,1951,Willie Mays,1951,0.2737,464,0.3017
1405,1952,Eddie Mathews,1952,0.2424,528,0.2712
1430,1954,Hank Aaron,1954,0.2799,468,0.3050
1455,1955,Roberto Clemente,1955,0.2553,474,0.3173
1471,1956,Luis Aparicio,1956,0.2664,533,0.2617
1479,1956,Whitey Herzog,1956,0.2447,421,0.2565
1488,1956,Frank Robinson,1956,0.2902,572,0.2941
1520,1958,Orlando Cepeda,1958,0.3118,603,0.2966
1536,1959,Sparky Anderson,1959,0.2180,477,0.2180
1572,1960,Ron Santo,1960,0.2507,347,0.2768
1598,1961,Carl Yastrzemski,1961,0.2659,583,0.2852
1707,1967,Rod Carew,1967,0.2918,514,0.3278
1734,1968,Bobby Cox,1968,0.2288,437,0.2245
1870,1974,Robin Yount,1974,0.2500,344,0.2854
1918,1977,Eddie Murray,1977,0.2831,611,0.2871
1933,1978,Paul Molitor,1978,0.2726,521,0.3063
1939,1978,Ozzie Smith,1978,0.2576,590,0.2618
1951,1979,Rickey Henderson,1979,0.2735,351,0.2787
2001,1982,Wade Boggs,1982,0.3491,338,0.3279
2054,1984,Kirby Puckett,1984,0.2962,557,0.3181
2122,1988,Roberto Alomar,1988,0.2661,545,0.3002
2147,1989,Ken Griffey,1989,0.2637,455,0.2837
2179,1991,Jeff Bagwell,1991,0.2942,554,0.2968

In [12]:
betterrookies = batters2[batters2['Rookie Batting Average'] > batters2['Career Batting Average']]
betterrookies

,Debut,Player,Year,Rookie Batting Average,At Bats,Career Batting Average
22,1880,Roger Connor,1880,0.3324,340,0.3165
696,1923,Heinie Manush,1923,0.3344,308,0.3298
741,1925,Mickey Cochrane,1925,0.3310,420,0.3196
798,1926,Paul Waner,1926,0.3358,536,0.3332
831,1927,Lloyd Waner,1927,0.3545,629,0.3164
867,1929,Earl Averill,1929,0.3317,597,0.3178
1002,1932,Arky Vaughan,1932,0.3179,497,0.3176
1129,1936,Johnny Mize,1936,0.3285,414,0.3121
1224,1940,Pee Wee Reese,1940,0.2724,312,0.2693
1245,1941,Phil Rizzuto,1941,0.3068,515,0.2730
1322,1948,Richie Ashburn,1948,0.3326,463,0.3077
1471,1956,Luis Aparicio,1956,0.2664,533,0.2617
1520,1958,Orlando Cepeda,1958,0.3118,603,0.2966
1734,1968,Bobby Cox,1968,0.2288,437,0.2245
2001,1982,Wade Boggs,1982,0.3491,338,0.3279

In [13]:
betterrookies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 22 to 2001
Data columns (total 6 columns):
Debut                     15 non-null int64
Player                    15 non-null object
Year                      15 non-null int64
Rookie Batting Average    15 non-null float64
At Bats                   15 non-null int64
Career Batting Average    15 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 840.0+ bytes

In [14]:
betterrookies.to_excel('Hall of Famers with Better Rookie than Career Average.xlsx')